<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

Resultados de la Creación de venta

<%= @venta.inspect %>

Desencriptado

<%= @plain_informacion_venta %>

<br/><br/><br/>

<button id="btn_pago">Pagar</button>

<script type="text/javascript"
src='https://integ-pago.culqi.com/api/v1/culqi.js'>

//Puedes crear un botón de pago
<button id="btn_pago">Pagar</button>

//Aquí configuramos el botón de pago de Culqi.
<script>

//El código del comercio
//Debes de cambiar este por el de tu comercio
checkout.codigo_comercio = "3zMquUkbF5s8";

//La información de la venta: "informacion_venta"
//Es el contenido del parámetro que recibiste en la creación.
checkout.informacion_venta = <%= @plain_informacion_venta %>;


$('#btn_pago').on('click', function(e) {

// Abre el formulario de pago de Culqi.
checkout.abrir();

e.preventDefault();

});

//Esta función es llamada al terminar el proceso de pago.
//Debe de ser usada siempre, para poder obtener la respuesta.
function culqi (checkout) {

//Aquí recibes la respuesta del formulario de pago.
//Si el usuario cierra el formulario de pago
//checkout.respuesta tendrá en valor "checkout_cerrado"
//También puede tener el valor: "error", "parametro_invalido"
//Y si ha expirado, "venta_expirada"
console.log(checkout.respuesta);

// Cierra el formulario de pago de Culqi.
checkout.cerrar();

};

</script>
